$text-grey: #667085;
$text-black: #1D2939;
$text-paragraph-color: #475467;
$light-grey: #D0D5DD;

.article-card {
    align-items: center;
    max-width: 980px;
    max-height: 260px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    div {
        flex-direction: column;
        gap: 10px;
        h6 {
            margin: 0;
            font-weight: 400;
            font-size: 13px;
            line-height: 15.6px;
            text-transform: uppercase;
            color: $text-grey;
            margin-bottom: 20px;
        }
        h3 {
            font-weight: 600;
            font-size: 26px;
            line-height: 33.8px;
            color: $text-black;
        }
        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: $text-paragraph-color;
        }
    }
    img {
        width: 300px;
        height: 211.85px;
        border-radius: 10px;
    }
    
    &:hover {
        border: 1px solid $text-black;
    }
}

.button {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: $text-black;
    padding: 12px 14px;
    border-radius: 8px;
    border: 1px solid $light-grey;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    &:hover {
        background-color: $text-black;
        border-color: $text-black;
        color: #FFFFFF;
        transition: .2s all ease-in-out;
    }
    &.bords {
        border-color: $text-black;
    }
}

// For Tablet View
@media only screen and (min-width: 744px) and (max-width: 870px) {
    .article-card {
        max-width: 670px;
        max-height: 202px;
        div {
            h6 {
                font-size: 13px;
                line-height: 15.6px;
            }
            h3 {
                font-size: 22px;
                line-height: 28.6px;
            }
            p {
                font-size: 16px;
                line-height: 24px;
            }
        }

        img {
            width: 210px;
            height: 170px;
        }
    }
}

@media only screen and (max-width: 743px) {
    .article-card {
        max-width: 342px;
        height: fit-content;
        max-height: fit-content;
        overflow: hidden;
        flex-direction: column;
        padding: 0;
        gap: 16px;
        div {
            padding: 20px 16px 0px 16px;
            gap: 20px;
            h6 {
                font-size: 12px;
                line-height: 14.4px;
                margin: 0;
            }
            h3 {
                font-size: 18px;
                line-height: 25.2px;
            }
            p {
                display: none;
            }
        }
        img {
            width: 343px;
            height: 180px;
            border-radius: 0 0 10px 10px;
        }
    }
}